<header class="flex items-center bg-blue-dark px-[20px] py-[10px]">
  <div class="w-12">
    <a href="/">
      <img [src]="logo" alt="Nfl App">
    </a>
  </div>
  <nav class="ml-auto">
    <ul class="flex items-center">
      <li class="text-white mr-5">
        <a href="#" class="pb-2 border-b-2 border-transparent hover:border-white ease-in duration-200">Standings</a>
      </li>
      <li class="text-white mr-5">
        <a routerLink="/teams"
          class="pb-2 border-b-2 border-transparent hover:border-white ease-in duration-200">Teams</a>
      </li>
      <li class="text-white mr-5">
        <a routerLink="/games"
          class="pb-2 border-b-2 border-transparent hover:border-white ease-in duration-200">Games</a>
      </li>
    </ul>
  </nav>
</header>