<header class="flex items-center bg-blue-dark px-[20px] py-[10px]">
  <div class="w-12">
    <a routerLink="/">
      <img [src]="logo" alt="Nfl App" />
    </a>
  </div>
  <nav class="ml-auto">
    <ul class="flex items-center">
      <li class="text-white mr-5" *ngFor="let link of mainNavigation">
        <a [routerLink]="[link.link]" class="pb-2 border-b-2 border-transparent hover:border-white ease-in duration-200"
          routerLinkActive="border-white">
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</header>